{% load static %}
<div class="row row-cols-1 row-cols-md-4 g-4">
    <div class="col">
      <div class="card">
        <img
        src="{% static 'img/raider.jfif' %}"
        height=300
        alt="Sad cat :("
        class="card-img-top"
        <div class="card-deck">
        <div class="card-body">
          <h5 class="card-title">Рейдер</h5>
          <p class="card-text">Бла бла бла</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img
        src="{% static 'img/iosif.jfif' %}"
        height=300
        alt="Sad cat :("
        class="card-img-top"
        <div class="card-deck">
        <div class="card-body">
          <h5 class="card-title">Иосиф</h5>
          <p class="card-text">Бла бла бла</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img
        src="{% static 'img/djobs.jfif' %}"
        height=300
        alt="Sad cat :("
        class="card-img-top"
        <div class="card-deck">
        <div class="card-body">
          <h5 class="card-title">Джобс</h5>
          <p class="card-text">Бла бла бла</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img
        src="{% static 'img/brussi.jfif' %}"
        height=300
        alt="Sad cat :("
        class="card-img-top"
        <div class="card-deck">
        <div class="card-body">
          <h5 class="card-title">Брюсси</h5>
          <p class="card-text">Бла бла бла</p>
        </div>
      </div>
    </div>
  </div>



