<!DOCTYPE html>

{% load static %}
<html lang="en">
  <head>
    {% block title %}
        <title>Cats Company</title>
    {% endblock %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block css_links %}
    <link
      rel="stylesheet"
      href="{% static 'css/bootstrap.min.css' %}">
    {% endblock%}
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="{% static 'favicon_package/apple-touch-icon.png' %}">
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{% static 'favicon_package/apple-touch-icon.png' %}">
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{% static 'favicon_package/apple-touch-icon.png' %}">
    <link
      rel="manifest"
      href="{% static 'favicon_package/site.webmanifest' %}">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
  </head>
  <body>
    {% include 'includes/header.html' %}

    {% block content%}
        Нет контента
    {% endblock %}
    
    {% include 'includes/footer.html' %}
    {% block scripts %}
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
    {% endblock %}
  </body>
</html>
