{% load static %}

<header class="p-3 bg-dark text-white">
  <div class="container">
    <div
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <img
        src="{% static 'img/logo/logo.png' %}"
        height="70"
        width="70"
        alt="Avatar of our store"
        class="rounded float-left">
      <ul
        class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        {% with request.resolver_match.view_name as view_name %}
        <li>
          <a
            href="{% url 'homepage:home' %}"
            class="nav-link px-2 {% if view_name == 'homepage:home' %} text-secondary disabled {% else %} text-white {% endif %}"
            >На главную</a>
        </li>
        <li>
          <a
            href="{% url 'catalog:item_list' %}"
            class="nav-link px-2 {% if 'catalog' in view_name %} text-secondary disabled {% else %} text-white {% endif %}"
            >Список товаров</a>
        </li>
        <li>
          <a
            href="{% url 'about:description' %}"
            class="nav-link px-2 {% if view_name == 'about:description' %} text-secondary disabled {% else %} text-white {% endif %}"
            >О проекте</a>
        </li>
        
        {% endwith %}
      </ul>
    </div>
  </div>
</header>
